<!DOCTYPE html>
<html>
  <head>
    <title>Form view.ejs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include head.ejs %>
  </head>
  <body>
    <header class="pb-4">
      <% include header.ejs %>
    </header>
    <main>
      <div class="container">
        <h1>Hotel Modification</h1>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-8 col-lg-6 forms">
            <form action="/hotels/updateHotel/<%= result.idhotel %>" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="exampleInputHotelName1">Name</label>
                <input type="text" name="hotelName" class="form-control"
                value="<%= result.name %>">
              </div>
              <div class="form-group">
                <label for="exampleInputHotelAddress1">Address</label>
                <input type="text" name="hotelAddress" class="form-control"
                 id="exampleInputHotelAddress1" value="<%= result.adress %>">
              </div>
              <div class="form-group">
                <label for="exampleInputHotelPhone1">Phone</label>
                <input type="text" name="hotelPhone" class="form-control" 
                id="exampleInputHotelPhone1" value="<%= result.phone %>">
              </div>
              <div class="form-group">
                <label for="exampleInputHotelImage1">Image</label>
                <div class="image-group">
                  <img src="/images/hotels/<%= result.image %>" class="img-uploaded">
                  <input type="file" name="hotelImage" class="form-file" 
                  id="exampleInputHotelImage1" value="<%= result.image %>">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <% include footer.ejs %>
  </body>
</html>
