<!DOCTYPE html>
<html>
  <head>
    <title>Hotels view.ejs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include head.ejs %>
  </head>
  <body>
    <header class="pb-4">
      <% include header.ejs %>
    </header>
    <main>
      <div class="container p-4">
        <h1 class="display-4 text-center">Hotels List</h1>
        <div class="row cards">
          <% result.forEach(hotel => { %>
          <div class="p-4">
              <div class="card" style="width: 18rem;">
                <img src="/images/hotels/<%= hotel.image %>" class="card-img-top" alt="">
                <div class="card-body text-center">
                  <h5 class="card-title"><%= hotel.name %></h5>
                  <p class="card-text"><%- hotel.adress %></p>
                  <p class="card-text pb-3"><%- hotel.phone %></p>
                  <div class="buttony d-flex justify-content-around">
                    <div class="d-block">
                      <a href="/hotels/editHotel/<%= hotel.idhotel %> %>" class="btn btn-primary">Modify</a>
                    </div>
                    <div class="d-block">
                      <a href="/hotels/removeHotel/<%= hotel.idhotel %>" class="btn btn-danger">Delete</a>
                    </div> 
                  </div>
                </div>
              </div>
          </div>
          <% }); %>
        </div>
        <div class="row pt-4">
          <div class="col-12">
              <table class="table">
                  <thead class="thead-dark">
                      <tr>
                          <th class="cabecera" scope="col"></>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Address</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Image</th>
                      </tr>
                  </thead>
                  <tbody class="registered-tbody">
                      <% result.forEach(hotel => { %>
                      <tr>
                        <td class="opciones d-flex justify-content-around">
                          <div class="borrar col-2 col-sm-2 col-md-2 col-lg-6">
                            <a href="/hotels/removeHotel/<%= hotel.idhotel %>">
                              <i class="fas fa-trash-alt"></i>
                            </a>
                          </div>
                          <div class="editar col-2 col-sm-2 col-md-2 col-lg-6">
                            <a href="/hotels/editHotel/<%= hotel.idhotel %>">
                              <i class="fas fa-edit"></i>
                            </a>
                          </div>
                        </td>
                        <th scope="row">
                          <%= hotel.idhotel %>
                        </th>
                        <td><%= hotel.name %></td>
                        <td><%= hotel.adress %></td>
                        <td><%= hotel.phone %></td>
                        <td><%= hotel.image %></td>
                      </tr>
                    <% }); %>  
                  </tbody>
              </table>
            </div>
         </div>
        </div>
      </div>
    </main>
    <% include footer.ejs %>
  </body>
</html>
