<!DOCTYPE html>
<html>
  <head>
    <title>Hotels view.ejs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include head.ejs %>
  </head>
  <body>
    <header class="pb-4">
      <% include header.ejs %>
    </header>
    <main>
      <div class="container p-4">
        <h1 class="display-4 text-center">Hotels List</h1>
        <div class="row cards">
          <% result.forEach(hotel => { %>
          <div class="p-4">
              <div class="card" style="width: 18rem;">
                <img src="/images/hotels/<%= hotel.image %>" class="card-img-top" alt="">
                <div class="card-body text-center">
                  <h5 class="card-title"><%= hotel.name %></h5>
                  <p class="card-text"><%- hotel.adress %></p>
                  <p class="card-text pb-3"><%- hotel.phone %></p>
                  <div class="buttony d-flex justify-content-around">
                    <div class="d-block">
                      <a href="/hotels/editHotel/<%= hotel.idhotel %> %>" class="btn btn-primary">Modify</a>
                    </div>
                    <div class="d-block">
                      <a href="/hotels/removeHotel/<%= hotel.idhotel %>" class="btn btn-danger">Delete</a>
                    </div> 
                  </div>
                </div>
              </div>
          </div>
          <% }); %>
        </div>
      </div>
    </main>
    <% include footer.ejs %>
  </body>
</html>
