<!DOCTYPE html>
<html>
  <head>
    <title>Users view.ejs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include head.ejs %>
  </head>
  <body>
    <header class="pb-4">
      <% include header.ejs %>
    </header>
    <main>
      <div class="container-fluid p-4">
        <h1 class="display-4 text-center">Users List</h1>
        <div class="row cards">
          <% resultUsers.forEach(user => { %>
          <div class="p-4">
              <div class="card" style="width: 18rem;">
                <img src="/images/users/<%= user.image %>" class="card-img-top" alt="">
                <div class="card-body text-center">
                  <h5 class="card-title"><%= user.name %></h5>
                  <p class="card-text pb-3"><%- user.email %></p>
                  <div class="buttony d-flex justify-content-around">
                    <div class="d-block">
                      <a href="/users/editUser/<%= user.iduser %>" class="btn btn-primary">Modify</a>
                    </div>
                    <div class="d-block">
                      <a href="/users/removeHotel/<%= user.iduser %>" class="btn btn-danger">Delete</a>
                    </div> 
                  </div>
                </div>
              </div>
          </div>
          <% }); %>
        </div>
        <div class="row pt-4">
          <div class="col-12">
              <table class="table">
                  <thead class="thead-dark">
                      <tr>
                          <th class="cabecera" scope="col"></>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Password</th>
                          <th scope="col">Image</th>
                      </tr>
                  </thead>
                  <tbody class="registered-tbody">
                      <% resultUsers.forEach(user => { %>
                      <tr>
                        <td class="opciones d-flex justify-content-around">
                          <div class="borrar col-2 col-sm-2 col-md-2 col-lg-6">
                            <a href="/users/removeUser/<%= user.iduser %>">
                              <i class="fas fa-trash-alt"></i>
                            </a>
                          </div>
                          <div class="editar col-2 col-sm-2 col-md-2 col-lg-6">
                            <a href="/users/editUser/<%= user.iduser %>">
                              <i class="fas fa-edit"></i>
                            </a>
                          </div>
                        </td>
                        <th scope="row">
                          <%= user.iduser %>
                        </th>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.password %></td>
                        <td><%= user.image %></td>
                      </tr>
                    <% }); %>  
                  </tbody>
              </table>
            </div>
         </div>
        </div>
      </div>
    </main>
    <% include footer.ejs %>
  </body>
</html>
